<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <!-- <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p> -->
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <!-- <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div> -->
    </div>

    <!-- <div class="social-links">
      {%- include social.html -%}
    </div> -->

    <div class="social-links">
      {%- assign social = site.minima.social_links -%}



      <ul class="social-media-list">
        {%- if social.stackoverflow -%}<li><a rel="me"
            href="https://stackoverflow.com/users/{{ social.stackoverflow | cgi_escape | escape }}" target="_blank"
            title="{{ social.stackoverflow | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- for glb in social.gitlab -%}{%- if glb.username and glb.instance -%}<li><a rel="me"
            href="https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}" target="_blank"
            title="{{ glb.username | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}{%- endfor -%}
        {%- if social.dribbble -%}<li><a rel="me" href="https://dribbble.com/{{ social.dribbble | cgi_escape | escape }}"
            target="_blank" title="{{ social.dribbble | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#dribbble' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.facebook -%}<li><a rel="me" href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}"
            target="_blank" title="{{ social.facebook | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.flickr -%}<li><a rel="me" href="https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}"
            target="_blank" title="{{ social.flickr | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.github -%}<li><a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}"
            target="_blank" title="{{ social.github | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.instagram -%}<li><a rel="me"
            href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}" target="_blank"
            title="{{ social.instagram | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.linkedin -%}<li><a rel="me"
            href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}" target="_blank"
            title="{{ social.linkedin | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.pinterest -%}<li><a rel="me"
            href="https://www.pinterest.com/{{ social.pinterest | cgi_escape | escape }}" target="_blank"
            title="{{ social.pinterest | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#pinterest' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- for mst in social.mastodon -%}{%- if mst.username and mst.instance -%}<li><a rel="me"
            href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" target="_blank"
            title="{{ mst.username | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#mastodon' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}{%- endfor -%}
        {%- if social.twitter -%}<li><a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}"
            target="_blank" title="{{ social.twitter | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.youtube -%}<li><a rel="me" href="https://www.youtube.com/{{ social.youtube | cgi_escape | escape }}"
            target="_blank" title="{{ social.youtube | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.youtube_channel -%}<li><a rel="me"
            href="https://www.youtube.com/channel/{{ social.youtube_channel | cgi_escape | escape }}" target="_blank"
            title="{{ social.youtube_channel_name | escape | default: 'YouTube' }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.telegram -%}<li><a rel="me" href="https://t.me/{{ social.telegram | cgi_escape | escape }}"
            target="_blank" title="{{ social.telegram | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#telegram' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.keybase -%}<li><a rel="me" href="https://keybase.io/{{ social.keybase | cgi_escape | escape }}"
            target="_blank" title="{{ social.keybase | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#keybase' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.microdotblog -%}<li><a rel="me"
            href="https://micro.blog/{{ social.microdotblog | cgi_escape | escape }}" target="_blank"
            title="{{ social.microdotblog | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#microdotblog' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}
        {%- if social.devto -%}<li><a href="https://dev.to/{{ social.devto | cgi_escape | escape }}" target="_blank"
            title="{{ social.devto | escape }}"><svg class="svg-icon grey">
              <use xlink:href="{{ '/assets/minima-social-icons.svg#devto' | relative_url }}"></use>
            </svg></a></li>{%- endif -%}

            
            <li><a href="mailto:davebenson.ca@gmail.com">
              <img class="email-svg" src="/images/email-svgrepo-com.svg"></img>

            </a></li>
      </ul>

    </div>

  </div>



  <!-- appends query string to virb link -->
  <script>

    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });
    
    if (params.u) {
      const nodes = document.querySelectorAll('.add-u')
      nodes.forEach(n => n.setAttribute('href', 'https://virb.herokuapp.com/?u=' + params.u))
      console.log("changed url for nodes",nodes);
    }

  </script>

</footer>