<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <meta http-equiv="refresh"
    content="0; url=https://photos.google.com/share/AF1QipMS7nooyveJrJ8SaUeCTPdOaKxs3Ru6dV-MGa6Car_2-UISqEz30z3eMt7jlx7EAg?key=MEhQOHdPemtoVm51TlhaUDFmN05XNm41akRTTFRR" />

  {%- include footer.html -%}

</body>

</html>